* {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #787878;
	margin-top: 67px;
}

html {
	font-family: sans-serif;
	font-size: 14px;
}

tbody {
	border-bottom: 1px solid lightgray;
}

th {
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding: 2px 4px;
}

tfoot {
	color: gray;
}

tfoot th {
	font-weight: normal;
}

td {
	border-collapse: collapse;
	padding: 0;
	border: 1px solid lightgray;
}

body {
	margin: 0;
}

form {
	position: fixed;
	top: 0;
	right: 0;
	width: 92%;
	z-index: 2;
}

.d1 {
	background: #189270;
}
.d1 input {
	z-index: 2;
	width: 100%;
	height: 41px;
	border: none;
	padding-left: 10px;

	outline: none;
	background: #f9f0da;
	color: #000000;
}
.d1 button {
	position: absolute;
	top: 0;
	right: 0px;
	width: 42px;
	height: 42px;
	border: none;
	background: #4caf50;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.paginationBtn {
	z-index: 1;
	background-color: green;
	width: 100%;
	height: 30px;
	position: fixed;
	top: 38px;
	color: white;
	font-weight: 900;
}

.paginationBtn:hover {
	opacity: 0.8;
}

nav {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 8%;
	height: 40px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.topmenu > li {
	display: inline-block;
	margin-right: 20px;
}
.topmenu > li:last-child {
	margin-right: 0;
}
a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	outline: none;
	transition: 0.5s linear;
}
.fa {
	font-family: 'FontAwesome';
	color: inherit;
	padding-left: 10px;
}
.submenu {
	position: relative;
	top: 100%;
	left: 0;
	width: 100%;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.one ul {
	background: #bbebca;
}
.one ul a {
	color: #53695c;
}
.one .submenu {
	display: none;
	background: #91b191;
}
.one ul:hover .submenu {
	display: flex;
	flex-direction: column;
}
